<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzTheme="light" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <app-app-sidebar [isCollapsed]="isCollapsed"></app-app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-app-nav-header (onChangeCollapsed)="isCollapsed=!isCollapsed" [isCollapsed]="isCollapsed">
      </app-app-nav-header>
    </nz-header>
    <nz-content>
      <nz-page-header class="site-page-header" [nzGhost]="false" nzTitle="Title" nzSubtitle="This is a subtitle">
      </nz-page-header>
      <app-app-breadcrumb></app-app-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>